<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    "
  >
    <h1>Employee database</h1>
    <p>Select minimum salary to filter by</p>
    <form action="/submit" method="post">
      <input name="salary" type="text" />
      <button type="submit">Submit</button>
    </form>
    <table>
      <thead>
        <th>Employee</th>
        <th>Salary</th>
      </thead>
      <tbody>
        {% for row in data %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
